.chat-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#user-indication {
    color: #9C9C9C;
    font-size: 11px;
    text-align: center;
    padding: 20px 0;
}

#user-indication span {
    color: #646464;
    font-size: 13px;
    font-weight: 700;
}

.chat-list {
    flex: 1;
    margin: 0 20px;
}


.inputs {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

#input {
    flex: 1;
    margin-right: 10px;
    border: 0;
    background-image: linear-gradient(to bottom right, #E4E9F2, #DFE4EE);
    border-radius: 1000px;
    padding: 15px 20px;
    color: rgb(82, 82, 82);
    font-size: 14px;
    -moz-appearance:none;
    -webkit-appearance:none;
    outline: none;
    
}
#input::placeholder {
    color: rgba(175, 177, 184, 0.8);
}

input:focus,
button:focus {
    outline-width: 0;
}

#send-button {
    border: 0;
    background-image: linear-gradient(to bottom right, #E4E9F2, #DFE4EE);
    border-radius: 1000px;
    font-size: 14px;
    font-weight: 500;
    color: #AFB1B8;
    padding: 0px 30px;
}
#send-button:active {
    box-shadow: inset -1px -1px 6px 0 rgba(255, 255, 255, 0.7),
                inset 2px 2px 5px 0 rgba(109, 117, 131, 0.3),
                -1px -1px 6px 0 rgba(255, 255, 255, 0.5),
                2px 2px 6px 0 rgba(109, 117, 131, 0.2)
}
